{% extends "base.html" %}
{% load static %}
{% block title %}Instructions{% endblock %}

{% block content %}


    <div class="container">


        <div class="row">
            <div class="col-md-offset-2">
                <h2>Basic Instructions </h2>
            </div>
            <hr>

            <div class="col-md-offset-2 col-md-8">


                <div class="panel panel-primary">
                    <div class="panel-heading">How to navigate through the design process</div>
                    <div class="panel-body">
                        Answers here
                    </div>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-8">


                <div class="panel panel-primary">
                    <div class="panel-heading">How to select definition of Sustainability ?</div>
                    <div class="panel-body">
                        Answers here
                    </div>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-8">


                <div class="panel panel-primary">
                    <div class="panel-heading">How to select indicators of Sustainability ?</div>
                    <div class="panel-body">
                        Answers here
                    </div>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-8">


                <div class="panel panel-primary">
                    <div class="panel-heading">How to navigate through the design process</div>
                    <div class="panel-body">
                        Answers here
                    </div>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-8">


                <div class="panel panel-primary">
                    <div class="panel-heading">How to navigate through the design process</div>
                    <div class="panel-body">
                        Answers here
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

